/.mypy_cache
/__pycache__
/wandb
slurm*.out
run*.json
batch_trainer_.sh
.vevn
*.pth
.vscode
plots*
result_tmp.zip
.env
result_tmp.md
/GUI/histogram_cache.sqlite3
/GUI/histogram_cache.sqlite3-*
__pycache__
GUI/cache/*.npz
